<!DOCTYPE html>
<html>
  <head>
    <title>CommentAnalysisSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-base-200 min-h-screen">
    <%= render "shared/navbar" %>
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
      <% if flash.any? %>
        <div class="mb-4">
          <% flash.each do |type, msg| %>
            <% alert_class = (type == 'notice') ? 'alert-success' : 'alert-error' %>
            <div class="alert <%= alert_class %> shadow-lg">
              <div class="text-base-200">
                <span><%= msg %></span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
